<?php echo $header; ?>
<div class="breadcrumb clearfix bgGrey">

  <div class="container">

    <h5><?php echo $heading_title; ?></h5>

    <ul class="">

      <?php foreach ($breadcrumbs as $breadcrumb) { ?>

      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>

      <?php } ?>

    </ul>

  </div>

</div><!-- breadcrumb -->


<div class="container">

  <div class="row"><?php echo $column_left; ?>

    <?php if ($column_left && $column_right) { ?>

    <?php $class = 'col-sm-6'; ?>

    <?php } elseif ($column_left || $column_right) { ?>

    <?php $class = 'col-sm-9'; ?>

    <?php } else { ?>

    <?php $class = 'col-sm-12'; ?>

    <?php } ?>

    <div id="content" class="products style2 style-demo1 <?php echo $class; ?>"><?php echo $content_top; ?>
      <div class="manageResults category" style="margin-bottom:20px;">
         <h1 class="title"><?php echo $heading_title; ?></h1>

      <?php if ($categories) { ?>

      <p><strong><?php echo $text_index; ?></strong>

        <?php foreach ($categories as $category) { ?>

        &nbsp;&nbsp;&nbsp;<a href="index.php?route=product/manufacturer#<?php echo $category['name']; ?>"><?php echo $category['name']; ?></a>

        <?php } ?>

      </p>

      <?php foreach ($categories as $category) { ?>

      <h2 id="<?php echo $category['name']; ?>"><?php echo $category['name']; ?></h2>

      <?php if ($category['manufacturer']) { ?>

      <?php foreach (array_chunk($category['manufacturer'], 4) as $manufacturers) { ?>

      <div class="row">

        <?php foreach ($manufacturers as $manufacturer) { ?>

        <div class="col-sm-2 boxManufacturer">
          <a href="<?php echo $manufacturer['href']; ?>">
            <?php if ($manufacturer['image']){ ?>
              <img src="image/<?php echo $manufacturer['image']; ?>" alt="<?php echo $manufacturer['name']; ?>" class="img-responsive">
            <?php }else{ ?>
              <img src="image/no_image.png" alt="<?php echo $manufacturer['name']; ?>" class="img-responsive">
              <?php } ?>
            <h2><?php echo $manufacturer['name']; ?></h2>
          </a>
        </div>

        <?php } ?>

      </div>

      <?php } ?>

      <?php } ?>

      <?php } ?>

      <?php } else { ?>

      <p><?php echo $text_empty; ?></p>

      <div class="buttons clearfix">

        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-purple"><?php echo $button_continue; ?></a></div>

      </div>

      <?php } ?>
      </div>
      <?php echo $content_bottom; ?></div>

    <?php echo $column_right; ?></div>

</div>

<?php echo $footer; ?>