<form action="https://test.authorize.net/gateway/transact.dll" method="post">

  <input type="hidden" name="x_login" value="<?php echo $x_login; ?>" />

  <input type="hidden" name="x_fp_sequence" value="<?php echo $x_fp_sequence; ?>" />

  <input type="hidden" name="x_fp_timestamp" value="<?php echo $x_fp_timestamp; ?>" />

  <input type="hidden" name="x_amount" value="<?php echo $x_amount; ?>" />

  <input type="hidden" name="x_fp_hash" value="<?php echo $x_fp_hash; ?>" />

  <input type="hidden" name="x_show_form" value="<?php echo $x_show_form; ?>" />

  <?php if ($x_test_request) { ?>

  <input type="hidden" name="x_test_request" value="<?php echo $x_test_request; ?>" />

  <?php } ?>

  <input type="hidden" name="x_type" value="<?php echo $x_type; ?>" />

  <input type="hidden" name="x_currency_code" value="<?php echo $x_currency_code; ?>" />

  <input type="hidden" name="x_invoice_num" value="<?php echo $x_invoice_num; ?>" />

  <input type="hidden" name="x_description" value="<?php echo $x_description; ?>" />

  <input type="hidden" name="x_first_name" value="<?php echo $x_first_name; ?>" />

  <input type="hidden" name="x_last_name" value="<?php echo $x_last_name; ?>" />

  <input type="hidden" name="x_company" value="<?php echo $x_company; ?>" />

  <input type="hidden" name="x_address" value="<?php echo $x_address; ?>" />

  <input type="hidden" name="x_city" value="<?php echo $x_city; ?>" />

  <input type="hidden" name="x_state" value="<?php echo $x_state; ?>" />

  <input type="hidden" name="x_zip" value="<?php echo $x_zip; ?>" />

  <input type="hidden" name="x_country" value="<?php echo $x_country; ?>" />

  <input type="hidden" name="x_phone" value="<?php echo $x_phone; ?>" />

  <input type="hidden" name="x_ship_to_first_name" value="<?php echo $x_ship_to_first_name; ?>" />

  <input type="hidden" name="x_ship_to_last_name" value="<?php echo $x_ship_to_last_name; ?>" />

  <input type="hidden" name="x_ship_to_company" value="<?php echo $x_ship_to_company; ?>" />

  <input type="hidden" name="x_ship_to_address" value="<?php echo $x_ship_to_address; ?>" />

  <input type="hidden" name="x_ship_to_city" value="<?php echo $x_ship_to_city; ?>" />

  <input type="hidden" name="x_ship_to_state" value="<?php echo $x_ship_to_state; ?>" />

  <input type="hidden" name="x_ship_to_zip" value="<?php echo $x_ship_to_zip; ?>" />

  <input type="hidden" name="x_ship_to_country" value="<?php echo $x_ship_to_country; ?>" />

  <input type="hidden" name="x_customer_ip" value="<?php echo $x_customer_ip; ?>" />

  <input type="hidden" name="x_email" value="<?php echo $x_email; ?>" />

  <input type="hidden" name="x_relay_response" value="<?php echo $x_relay_response; ?>" />

  <input type="hidden" name="x_solution_id" value="A1000015" />

  <div class="buttons">

    <div class="pull-right">

      <input type="submit" value="<?php echo $button_confirm; ?>" class="btn btn-purple" />

    </div>

  </div>

</form>

