<?php echo $header; ?>


<div class="breadcrumb clearfix bgGrey">
  <div class="container">
    <h5><?php echo $heading_title; ?></h5>
    <ul class="">
      <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
      <?php } ?>
    </ul>
  </div>
</div><!-- breadcrumb -->

<div class="container">

  <div class="row"><?php echo $column_left; ?>

    <?php if ($column_left && $column_right) { ?>

    <?php $class = 'col-sm-6'; ?>

    <?php } elseif ($column_left || $column_right) { ?>

    <?php $class = 'col-sm-9'; ?>

    <?php } else { ?>

    <?php $class = 'col-sm-12'; ?>

    <?php } ?>

    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>

  
         <h1 class="title"><?php echo $heading_title; ?></h1>

  
      <blockquote><?php echo $text_message; ?></blockquote>
<?php if(isset($button_checkout_pagar_me_boleto)): ?>
                <div class="buttons">
  <div class="text-center"><a href="<?php echo $button_checkout_pagar_me_boleto ?>" target="_blank" class="btn btn-lg btn-primary"><strong>Imprima seu boleto</strong></a></div>
</div>
<?php endif; ?>

      <div class="buttons">

        <div class="pull-left"><a href="<?php echo $continue; ?>" class="btn btn-purple"><?php echo $button_continue; ?></a></div>

      </div>

      <?php echo $content_bottom; ?></div>

    <?php echo $column_right; ?></div>

</div>

<?php echo $footer; ?>