<?php if ($error_warning) { ?>
<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($shipping_methods) { ?>
<p><?php echo $text_shipping_method; ?></p>
<?php foreach ($shipping_methods as $shipping_method) { ?>
<p><strong><?php echo $shipping_method['title']; ?></strong></p>
<?php if (!$shipping_method['error']) { ?>
<?php foreach ($shipping_method['quote'] as $quote) { ?>
<div class="radio" style="margin-bottom:2em;">
  <label>
    <?php if ($quote['code'] == $code || !$code) { ?>
    <?php $code = $quote['code']; ?>
    <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" checked="checked" />
    <?php } else { ?>
    <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" />
    <?php } ?>
    <b><?php echo $quote['title']; ?></b> - <?php echo $quote['text']; ?> <img src="catalog/view/images/<?php echo $quote['code']; ?>.png?1" alt="<?php echo $quote['title']; ?>" style="<?php if($quote['title'] == 'Retirar no Local'){ ?>width:80px; <?php }else{ ?> width:120px; <?php } ?> margin:.5em;" /></label>

    <?php if($quote['title'] == 'Retirar no Local'){ ?>
        <p>Agendamento atráves do <b>(11) 3227-5798</b> ou pelo WhatsApp <b>(11) 9.5969-0579</b>. <br>
        Atendimento de Segunda a Sexta das 08hs às 18hs.</small></p>
    <?php } ?>
</div>
<?php } ?>
<?php } else { ?>
<div class="alert alert-danger"><?php echo $shipping_method['error']; ?></div>
<?php } ?>
<?php } ?>
<?php } ?>
<p><strong><?php echo $text_comments; ?></strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control"><?php echo $comment; ?></textarea>
</p>
<div class="buttons">
  <div class="pull-left">
    <input type="button" value="<?php echo $button_continue; ?>" id="button-shipping-method" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-purple" />
  </div>
</div>
